@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
  background-color: #2e2e2e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Open Sans', serif;
  color: white;
  font-size: 2rem;
}
.app{
  display: flex;
}
.leftside-wrap{
  display: flex;
  flex-direction: column;
  padding: 3em;
  border: 1px solid white;
  border-radius: 20px;
  max-width: 700px;
}

.leftside-info{
  display: flex;
  flex-direction: column;
}

.leftside-names{
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftside-info input{
  margin: 0.5em;
  width: 200px;
  font-size: 1.5rem;
}

.leftside-links{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}

.leftside-linksWrap{
  margin: 1em;
}

.leftside-education{
  text-align: center;
}

.leftside-education .leftside-title{
  text-align: center;
  margin: 0.5em;
}

.leftside-workExperience{
  text-align: center;
}

.leftside-workExperience .leftside-title{
  text-align: center;
  margin: 0.5em;
}

.rightside-wrap{
  border: 1px solid white;
  width: 900px;
  margin-left: 1em;
  background-color: white;
}

.rightside-header{
  background-color: #000000;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}