@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
  background-color: #2e2e2e;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: monospace, serif;
  color: white;
  font-size: 2rem;
}

.lucide{
  display: inline-block;
  margin-right: 0.5em;
}

.app{
  display: flex;
}

.leftside-wrap{
  display: flex;
  flex-direction: column;
  padding: 3em;
  border: 1px solid white;
  border-radius: 20px;
  max-width: 700px;
}

.leftside-info{
  display: flex;
  flex-direction: column; 
}

.leftside-info input{
  margin: 0.5em;
  width: 300px;
  height: 35px;
  font-size: 1.5rem;
}

.leftside-links{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}

.leftside-linksWrap{
  margin: 1em;
}

.leftside-linksButton{
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: green;
  color: white;
}

.leftside-linksButton .lucide{
  margin-left: 0.5em;
}

.leftside-actualLinks{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leftside-actualLinksElement{
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
}

.leftside-actualLinksElement .lucide{
  cursor: pointer;
}

.leftside-education{
  text-align: center;
}

.leftside-education .leftside-title{
  text-align: center;
  margin: 0.5em;
}

.leftside-workExperience{
  text-align: center;
}

.leftside-workExperience .leftside-title{
  text-align: center;
  margin: 0.5em;
}

.rightside-wrap{
  border: 1px solid white;
  width: 900px;
  max-height: 100vh;
  margin-left: 1em;
  background-color: white;
}

.rightside-header{
  background-color: #000000;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Open Sans', serif;
}

.rightside-personalInfoParagraph{
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightside-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rightside-socialLinks{
  display: flex;
  margin-top: 1em;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.rightside-socialLink{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1em;
  text-decoration: none;
  color: #000000;
}